<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" placeholder="Name" [value]="name">
        </div>
        <div class="form-group">
          <label for="name">Last name</label>
          <input type="text" class="form-control" placeholder="Last name" [value]="lastName">
        </div>
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" placeholder="Username" [value]="username">
        </div>
        <div class="form-group">
          <label for="name">Password</label>
          <input type="password" class="form-control" placeholder="1234" [value]="password">
        </div>
        <div class="form-group">
          <label for="name">Confirm password</label>
          <input type="password" class="form-control" placeholder="1234" [value]="repeatPasword">
        </div>
        <div class="form-group">
          <label for="name">Favorite color</label>
          <input type="text" class="form-control" placeholder="Green" [value]="favoriteColor">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Name: {{name}}</p>
      <p>Last name: {{lastName}}</p>
      <p>Username: {{username}}</p>
      <p>Password: {{password}}</p>
      <p>Confirm password: {{repeatPasword}}</p>
      <p>Favorite color: {{favoriteColor}}</p>
    </div>
  </div>
</div>