<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-warning" *ngIf="!matchingPasswords">
        Passwords does not match :(
      </div>
      <form>
        <app-field *ngFor="let key of attributesKeys;" [(value)]="attributes[key].value" [label]="attributes[key].label"
          [(isFilled)]="attributes[key].isFilled" (isFilledChange)="onInputChange($event)" [name]="key"
          [type]="attributes[key].type">
        </app-field>

        <button type="button" class="btn btn-primary" [disabled]="!allFilled"
          [title]="!allFilled ? 'Please fill all the fields': ''" (click)="addNewUser()">Submit</button>
        <button type="button" (click)="printUsers()" class="btn btn-success">Print users from Service</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Name: {{attributes.name.value}}</p>
      <p>Last name: {{attributes.lastName.value}}</p>
      <p>Username: {{attributes.username.value}}</p>
      <p>Password: {{attributes.password.value}}</p>
      <p>Confirm password: {{attributes.repeatPassword.value}}</p>
      <p>Favorite color: {{attributes.favoriteColor.value}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default" *ngFor="let user of users; let i = index;" (click)="fillForm(i)">
        <div class="panel-heading">
          <h3 class="panel-title">{{user.name}} {{user.lastName}}</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>{{user.username}}</li>
            <li>{{user.favoriteColor}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>