<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form>
        <app-field [(value)]="name" [label]="'Name'"></app-field>
        <app-field [(value)]="lastName" [label]="'Last Name'"></app-field>
        <app-field [(value)]="username" [label]="'username'"></app-field>
        <app-field [(value)]="password" [label]="'password'" [type]="'password'"></app-field>
        <app-field [(value)]="repeatPasword" [label]="'Confirm password'" [type]="'password'"></app-field>
        <app-field [(value)]="favoriteColor" [label]="'favoriteColor'"></app-field>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Name: {{name}}</p>
      <p>Last name: {{lastName}}</p>
      <p>Username: {{username}}</p>
      <p>Password: {{password}}</p>
      <p>Confirm password: {{repeatPasword}}</p>
      <p>Favorite color: {{favoriteColor}}</p>
    </div>
  </div>
</div>